/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500& */
body {
    margin: 2% 5% 2% 5%;
    text-align: justify;
    justify-content: center;
    }

.date {
    /* text-align: left; */
    position: relative;
    top: 20px;
    left: 20px;
    color: rgb(112, 112, 112);
    /* letter-spacing: 2px; */
    font-family: sans-serif;
    font-weight: 200;
    font-size: 19px;
    letter-spacing: -0.5px;
    }

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-top: 1px solid rgb(224, 223, 223);
    border-bottom: 1px solid rgb(224, 223, 223);
    text-align: center;
    }

nav li {
    display: inline;
    margin: 15px;
    text-align: center;
    font-family: sans-serif;
    }

nav {
    position: sticky;
    top:0px;
    background-color: white;
}


h1 {
    text-align: center;
    font-size: 70px;
    font-family: Abril-Fatface;
    /* font-weight: 00; */
    line-height: 0.5em;
    text-shadow: -1px 1px, 1px 1px, 1px 1px;
    letter-spacing: -3px;
    font-stretch: extra-condensed;
    color: #282b28;
}

h2 {
    font-family: serif;
    text-align: left;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 40px;
    }

h4 {
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    }

h5 {
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    letter-spacing: -1px;
    font-weight: bold;
    }

img {
    display:block;
    box-align: left;
    }

main {
    border-bottom: 1px solid rgb(224, 223, 223);
    }

p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(131, 130, 130);
    }

a {
    color: rgb(131, 130, 130);
    }

section {
    display: inline-block;
    margin: 4%;
    width: 40%;
    }


/* .newspaper-container {
    border-radius: 50px/50px;
    border: 10px solid #e0dfdf;
    } */

/* .newspaper-container { */
        /* background-color: rgb(224, 223, 223); */
        /* border: 2px solid rgb(131, 130, 130); */

    /* } */