/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500& */
body {
    margin: 2% 5% 2% 5%;
    text-align: center;
    }

.date {
    text-align: left;
    }

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    }

nav li {
    display: inline;
    margin: 15px;
    text-align: center;
    }

h1 {
    font-family: Abril-Fatface;
    font-weight: bold;
    line-height:1em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    }

h4 {
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    }

h5 {
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    }

img {
    display:block;
    box-align: left;
    }

p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    }

    a {
        color: gray;
    }

section {
        display: inline-block;
        margin: 4%;
        width: 40%;
    }